html {
  height: 100%;
}
body {
  background: black;
  overflow: hidden;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  color: white;
  height: 100%;
}
.annotation {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: calc(100% - 198px);
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
@media (width < 768px) {
  .annotation {
    bottom: 8px;
    left: 8px;
  }
}

.annotation h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}
@media (width < 768px) {
  .annotation h1 {
    font-size: 1.5rem;
  }
}
.annotation p {
  font-size: 1rem;
  margin: 0;
}

button {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  -webkit-user-select: none;
  user-select: none;
}

#btnPlay,
#btnStop {
  position: absolute;
  bottom: 32px;
  right: 32px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 8px 0;
  width: 128px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  transition: 0.2s;
  border: 1px solid #006edc;
}
#btnPlay:hover,
#btnStop:hover {
  box-shadow: #0777f5ff 0px 0px 10px 0px, #367ce47f 0px 0px 20px 0px;
}
@media (width < 768px) {
  #btnPlay,
  #btnStop {
    width: 96px;
    font-size: 1rem;
    bottom: 8px;
    right: 8px;
  }
}
